Teradata to Azure SQL DW Scripts/Teradata to Azure SQL DW Scripts/02-ADF/Pipelines/GetTableListAndTriggerCopyBlobtoSQLDW.json
{
    "properties": {
        "activities": [
            {
                "name": "LookupTableList",
                "description": "Retrieve Table List from SQL Server ",
                "type": "Lookup",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlDWSource",
                        "sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES WHERE TABLE_TYPE = 'BASE TABLE' and TABLE_SCHEMA <> 'dbo'"
                    },
                    "dataset": {
                        "referenceName": "SourceDW",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "BlobtoSQLDW",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "LookupTableList",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "IterateAndCopyBlobToDW",
                        "type": "PipelineReference"
                    },
                    "parameters": {
                        "tablelist": {
                            "value": "@activity('LookupTableList').output.value",
                            "type": "Expression"
                        }
                    }
                }
            }
        ],
        "folder": {
            "name": "BulkCopy"
        }
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}